@import "tailwindcss";


.bg{
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-bg{
    background-image: url('./assets/xbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* background-position: center; */
}


.nayok-bg{
  background-image: url('./assets/actor-bg.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  object-fit: cover;
  /* background-position: center; */
}


.money-bg{
    background-image: url('./assets/moneybg.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* background-position: center; */
}
/* 
.rect-bg{
    background-image: url('./assets/rect.png');
    background-repeat: no-repeat;
     object-fit: cover;
    background-position: center; 
    background-size: 100% 100%; 
} */









/* For screens 430px to 520px */
@media (min-width: 430px) and (max-width: 520px) {
    .custom-position-430-520 {
      top: 110px;
      left: 120px;
    }
  }
  
  /* For screens 520px to 600px */
  @media (min-width: 520px) and (max-width: 640px) {
    .custom-position-520-600 {
      top: 150px;
      left: 160px;
    }
  }
  



 
.foter{
    background: url('./assets/star.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}